/host/
/results/
/venv/
/3_BigData/json/json_performance.txt
/3_BigData/xml/xml_performance.txt
/4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed.csv
/4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed.csv
/4_ExtractionConnaissances/Fouille de données/mh_data_processed.csv
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed_ms=0.01_mc=0.5.mma
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed_ms=0.01_mc=0.5.mma.nom
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed_ms=0.01.fci
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed_ms=0.01.fci.nom
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed_ms=0.01.mme
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed_ms=0.01.mme.nom
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed.alias
4_ExtractionConnaissances/Fouille de données/JClose/mesh/mesh_data_processed.data
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed_ms=0.01_mc=0.5.mma
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed_ms=0.01_mc=0.5.mma.nom
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed_ms=0.01.fci
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed_ms=0.01.fci.nom
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed_ms=0.01.mme
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed_ms=0.01.mme.nom
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed.alias
4_ExtractionConnaissances/Fouille de données/JClose/mh/mh_pubmed_data_processed.data
